*{
    transition:all 200ms ease-in-out;
}

:root{
    --colorPrincipalOscuro: #5f94ac;
    --colorPrincipal: #add8e6be;
    --colorPrincipalClaro: #96c0d4;

    --colorResaltado1: #ffcc66;
    --colorResaltado2: #ff9966;
    --colorResaltado3: #cc99ff;


    --colorNeutroClaro: #f2f2f2;
    --colorNeutro: #999999;
    --colorNeutroOscuro: #333333;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.cabezera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorPrincipal);
    padding: 0 5rem;
    font-size: 2rem;
    height: 10rem;

}

body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
   
    background-color: white;
    margin: 0px;

    background-color: rgba(255, 242, 222, 0.171);

}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 4rem;
  border: 5px solid rgb(23, 50, 51);;
  border-radius: 45%;
  color: rgb(23, 50, 51);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  text-decoration: none;
}

.boton:hover{
    background-color: var(--colorResaltado1);
    color: var(--colorNeutroOscuro);
    cursor: pointer;
}

a{
    text-decoration: none;
}

.historial {
    font-size: 2rem;
}

.historial__resumen {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 3rem;
}

.historial__matricula {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}

table, th, td {
    border: 1px solid var(--colorNeutroOscuro);
    border-collapse: collapse;
    padding: 0.5rem 1rem;
}

.historial__resumen-head th {
    text-align: center;
    background-color: var(--colorPrincipal);
    margin-bottom: 1rem;
}

.historial__calificaciones {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.historial__tabla-encabezado {
    background-color: var(--colorPrincipalOscuro);
    color: var(--colorNeutroClaro);
}
.historial__semestre {
    background-color: var(--colorPrincipal);
}